

.top-bar {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 10px;
}



.navigation {
  
  display: flex;
  align-items: center;
}

.navigation span {
  
  margin-right: 20px;
  cursor: pointer;
}



.other-options {
  
  display: flex;
  align-items: center;
}

button {
  
  margin-right: 10px;
  
}

input {
  
  padding: 5px;
}

.background-image {
  background-image: url('E:\\New folder\\practice\\src\\images\\Website-Backgrounds-For-Desktop.jpg');
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}


.background-image h1 {
  font-size: 48px;
  color: #ffffff;
  text-align: left;
  margin-bottom: 20px;
  margin-left: 30px;
}

.background-image h4 {
  /* font-size: 48px; */
  color: #ffffff;
  text-align: left;
  margin-bottom: 20px;
  margin-left: 30px;
}

.background-image button {
  display :inline;
  background-color: #3f27e0;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  
  margin-left: 30px;
  width: 150px;
  height: 50px;
}

.background-image button:hover {
  background-color: #2980b9;
}
